<div class="products" ng-controller="ProductsController as products">
    <div class="row">
        <div class="col-sm-3 col-md-2 hidden-xs">
            <ul class="nav nav-pills nav-stacked">
                <li ng-class="{active: !products.category}"><a ng-click="products.getCategory()">All <small class="text-muted">({{products.allItems.length}})</small></a></li>
                <li ng-class="{active: category === products.category}" ng-repeat="category in products.categories"><a ng-click="products.getCategory(category)">{{category}} <small class="text-muted">({{products.getCategoryCount(category)}})</small></a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-md-10">
            <div class="row visible-xs">
                <div class="col-xs-12">
                    <div dropdown class="dropdown">
                        <button dropdown-toggle type="button" class="btn btn-default">Category <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li ng-class="{active: !products.category}"><a ng-click="products.getCategory()">All <small class="text-muted">({{products.allItems.length}})</small></a></li>
                            <li ng-class="{active: category === products.category}" ng-repeat="category in products.categories"><a ng-click="products.getCategory(category)">{{category}} <small class="text-muted">({{products.getCategoryCount(category)}})</small></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-3" ng-repeat="item in products.items">
                    <div class="thumbnail preview" ui-sref="item({id: item.id, category: products.category})">
                        <div class="image" style="background-image:url('{{item.images[0]}}');"></div>
                        <div class="caption">
                            <h4>{{item.id}}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="pager">
                <li class="previous" ng-show="products.hasPrev"><a ng-click="products.getPrevPage()">&larr; Previous</a></li>
                <li class="next" ng-show="products.hasNext"><a ng-click="products.getNextPage()">&rarr; Next</a></li>
            </ul>
        </div>
    </div>
</div>
